body {
  background: whitesmoke;
}

#by {
  margin-top: 0px;
  font-weight: normal;
}

#song {
  margin-bottom: 0px;
}

.bigger {
  font-size: 1.2em;
  font-weight: bold;
}

footer {
  font-size: 0.6em;
}
